[user]
	email = mail@einargangso.no
	name = Einar Gangsø
	useconfigonly = true
[push]
	default = simple
[core]
	excludesfile = /home/einar/.gitignore_global
	attributesfile = /home/einar/.gitattributes
